@font-face {
    font-family: "gulfs-display";
    src: url(tipografia/GulfsDisplay-Normal.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "anybody";
    src: url(tipografia/Anybody-Black.ttf);
}
body{
    margin: 0;
    padding: 0;

}
.pagsup{
    background-color: #ff91ffed;
    width: 600px;
    height: 100px;
}
.paginf{
    background-color: yellow;
    width: 700px;
    height: 150px;
}
.inicio{
    color: rgb(64, 64, 255);
    font-family: "gulfs-display";
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 0.9;

}

#fotoinicio{
    width: 300px;
    height: 400px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0;
}
.menu{
    height: 15px;
    padding: 5px;
    
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 64px;
    position: relative;
    font-family: "gulfs-display";
}

.nav-links{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    transition: all 0.5s ease;
}

.nav-links > li{
    margin-left: 24px;
}

.nav-links > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 8px 24px;
    border-radius: 38px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #e91e65;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.menu-icon .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

#menu-toggle{
    display: none;
}

@media(max-width: 768px){
    .navbar{
        padding: 20px;
    }
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); */
    .menu-icon{
        display: flex;
    }

    .nav-links{
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        text-align: center;
        transition: heigth 0.5s ease;
        background-color: palevioletred;
    }

    .nav-links li {
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }

    .nav-links a {
        width: 100%;
        padding: 10px 20px;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        height: 100vh;
    }
    #menu-toggle:checked + .menu-icon .line:nth-child(1) { 
        transform: rotate(45deg) translate(15px, 3px);
    }
    #menu-toggle:checked + .menu-icon .line:nth-child(2) { 
        transform: scale(0);
    }
    #menu-toggle:checked + .menu-icon .line:nth-child(3) { 
        transform: rotate(-45deg) translate(15px, -4px);
    }
}